  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
    overflow-x: hidden;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }
  
  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  * > .flex-row-wrap {
    flex-flow:row wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
 
  /* 고정형 .con 시작 */
  .con-min-width {
    min-width:1370px;
  }
  
  .con {
    width:1370px;
  }
 
/* main */
.main {
  position: relative;
  width: 1920px;
  height: 1024px;
}

/* menu */
.overlay-navigation {
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  transform: translateY(-100%);

}

.animate-top-bar {
  animation: animate-top-bar .6s linear 1 both
}

@keyframes animate-top-bar {
  100% {
    -webkit-transform: translateY(0);
    transform: rotate(-90deg);
  }
}

.overlay-slide-down {
  transition: all .4s ease-in-out;
  transform: translateY(0)
}

.overlay-slide-up {
  transition: all .8s ease-in-out;
  transform: translateY(-100%)
}

nav, nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  width:480px;
  height: 100%;

}

nav ul li>a{
  width:480px;
  height: 100%;
  display: block;
}

nav li:nth-of-type(1){background:url(https://nohyoochan.github.io/img1/pf/portfolio/personal.png) no-repeat 0 0; border-right: 0.3px solid #c9c8cc; display: block;}
nav li:nth-of-type(2){background:url(https://nohyoochan.github.io/img1/pf/portfolio/aboutme.png) no-repeat 0 0;border-right: 0.3px solid #c9c8cc; display: block;}
nav li:nth-of-type(3){background:url(https://nohyoochan.github.io/img1/pf/portfolio/portfolio.png) no-repeat 0 0;border-right: 0.3px solid #c9c8cc; display: block;}
nav li:nth-of-type(4){background:url(https://nohyoochan.github.io/img1/pf/portfolio/finish.png) no-repeat 0 0;border-right: 0.3px solid #c9c8cc;display: block;}

nav li:nth-of-type(1):hover{
  background: url(https://nohyoochan.github.io/img1/pf/portfolio/personalhover.png) no-repeat 0 0;
  width: 480px;
  height: 100%;
  overflow: visible;
}

nav li:nth-of-type(2):hover{
  background: url(https://nohyoochan.github.io/img1/pf/portfolio/aboutmehover.png) no-repeat 0 0;
  width: 480px;
  height: 100%;
  overflow: visible;
}

nav li:nth-of-type(3):hover{
  background: url(https://nohyoochan.github.io/img1/pf/portfolio/portfoliohover.png) no-repeat 0 0;
  width: 480px;
  height: 100%;
  overflow: visible;
}

nav li:nth-of-type(4):hover{
  background: url(https://nohyoochan.github.io/img1/pf/portfolio/finishhover.png) no-repeat 0 0;
  width: 480px;
  height: 100%;
  overflow: visible;
}

.slide-in-nav-item {
  animation: slide-in-nav-item 0.2s linear 1 .2s both;
}

.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.2s linear 1 .4s both;
}

.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.2s linear 1 .6s both;
}

.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.2s linear 1 .8s both;
}

.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.2s linear 1 1s both;
}

.slide-in-nav-item-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .5s both;
}

.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
}

.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .3s both;
}

.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .2s both;
}

.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 both;
}

.open-overlay {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 81;
  width: 45px;
  height: 34px;
  background-size: 100%;
  display: block;
  cursor: pointer;
}

@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');

/* menu end */

/* title text */
.title {
  position: absolute;
  font-size: 100px;
  line-height: 150px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  color: #231f20;
  position: absolute;
  top: 350px;
  left: 350px;
  letter-spacing: -5px;
}
/* title text end */

/* sub-title text */
.sub-title {
  position: absolute;
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Noto Sans KR', sans-serif;
  color: #231f20;
  letter-spacing: -1px;
  line-height: 60px;
  top: 790px;
  left: 350px;
}
/* sub-title text end*/

/* main2 */
.main2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0 auto;
}

/* 성격 */
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

figcaption {
  display: block;
}

script {
  display: none;
}

.snip1356 {
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 100px;
  min-width: 230px;
  max-width: 451px;
  width: 100%;
  background: #978f8f;
  text-align: left;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

.snip1356 > img {
  vertical-align: top;
  position: relative;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.7;
}

.snip1356 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.snip1356 .image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1356 > img, .snip1356 .image img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  max-width: 100%;
}

.snip1356 .image img {
  position: absolute;
  top: 0;
}

.snip1356:hover .image, .snip1356.hover .image {
  bottom: 100%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1356 figcaption {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 10%;
  right: 20px;
  z-index: 1;
  text-align: center;
}

.snip1356:hover .read-more, .snip1356.hover .read-more, .snip1356:hover figcaption, .snip1356.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1356 h3 {
  font-weight: 100;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.snip1356 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
}

.snip1356 .read-more {
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  color: #fff;
  right: 0;
  bottom: 0;
  font-weight: 500;
  position: absolute;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* 성격 end */

/* main3 */
.main3 {
  position: relative;
  width: 1920px;
  height: 600px;
}

.skillbox {
  width: 773px;
  height: 386px;
  background-color: none;
  box-sizing: border-box;
  float: left;
  margin-left: 340px;
}

.Abt_tit {
  width: 388px;
  height: auto;
  float: left;
  position: relative;
  top: 54px;
  left: 630px;
  font: 50px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
  color: #121212;
}

.skill {
  width: 566px;
  float: left;
  left: 150px;
  border: none;
  position: relative;
}

/* main4 */
.main4 {
  position: relative;
  width: 1920px;
  height: 200px;
}

/* grid */
.f_bt {
  display: grid;
  font-family: 'Poppins', sans-serif;
  color: #231f20;
}

.f_bt a {
  text-decoration: none;
  color: inherit;
}

.f_bt a:link, .f_bt a:visited {
  color: #000;
  text-decoration: none;
}

.cta1 {
  top: 77px;
  left: -180px;
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta1:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -30px;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta1:hover:before {
  width: 100%;
  background: #ffab9d;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.cta1 h1 {
  position: relative;
  font-size: 10px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta1 span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta1 svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta1:hover svg {
  transform: translateX(0);
}

svg[Attributes Style] {
  width: 13px;
  height: 10px;
}

svg:not(:root) {
  overflow: hidden;
}

path[Attributes Style] {
  d: path("M 1 5 L 11 5");
}

:not(svg) {
  transform-origin: 0px 0px;
}

.cta2 {
  top: 0px;
  left: 140px;
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta2:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -30px;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta2:hover:before {
  width: 100%;
  background: #ffab9d;
}

.cta2 h1 {
  position: relative;
  font-size: 10px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta2 span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta2 svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta2:hover svg {
  transform: translateX(0);
}

svg[Attributes Style] {
  width: 13px;
  height: 10px;
}

svg:not(:root) {
  overflow: hidden;
}

path[Attributes Style] {
  d: path("M 1 5 L 11 5");
}

:not(svg) {
  transform-origin: 0px 0px;
}

