html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "GmarketSansBold", "Noto Sans KR", sans-serif;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }
  
  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  * > .flex-row-wrap {
    flex-flow:row wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
 
  /* 고정형 .con 시작 */
  .con-min-width {
    min-width:1370px;
  }
  
  .con {
    width:1370px;
  }

  /* -----------------------*/
  #fullpage .section-04 {
    background-color:gold;
  }
  
  #fullpage {
    font-size:1.5rem;
    color:white;
  }
  
  /* page 1 */
/* transition */
.transition-1 {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 969px;
  width: 972px;
  z-index: 9999;
  background: url(https://nohyoochan.github.io/img1/pf/PF/2pagemain2.png) no-repeat 0 0;
  transition: all 0.5s;
}

.transition-2 {
  position: absolute;
  top: 30%;
  left: 40%;
  height: 355px;
  width: 421px;
  z-index: 9999;
  background: url(https://nohyoochan.github.io/img1/pf/PF/2pagemain.png) no-repeat 0 0;
  transition: all 0.5s;
}

.transition-3 {
  position: absolute;
  top: 61%;
  left: 2%;
  height: 177px;
  width: 862px;
  z-index: 9999;
  background: url(https://nohyoochan.github.io/img1/pf/PF/2pagetext1.png) no-repeat 0 0;
  transition: all 0.5s;
}

.transition-4 {
  position: absolute;
  top: 83%;
  left: 2.5%;
  height: 76px;
  width: 709px;
  z-index: 9999;
  background: url(https://nohyoochan.github.io/img1/pf/PF/2pagetext2.png) no-repeat 0 0;
  transition: all 0.5s;
}

.transition-5 {
  position: absolute;
  top: 30%;
  left: 65%;
  height: 243px;
  width: 562px;
  z-index: 9999;
  background: url(https://nohyoochan.github.io/img1/pf/PF/2pagetext3.png) no-repeat 0 0;
  transition: all 0.5s;
}

.transition-6 {
  position: absolute;
  top: 63%;
  left: 65%;
  height: 127px;
  width: 608px;
  z-index: 9999;
  background: url(https://nohyoochan.github.io/img1/pf/PF/2pagetext4.png) no-repeat 0 0;
  transition: all 0.5s;
}

/* side bar */
.SideBar {
  float: right;
  cursor: pointer;
  padding: 50px;
}

.side-close {
  float: right;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 30px;
}

.side-bar {
  position:fixed;
  top:0;
  right:0;
  width:50%;
  height:100%;
  background-color:white;
  z-index:10000;
  opacity:0;
  visibility:hidden;
  filter: drop-shadow(5px 5px 5px #000);
}

.side-bar-actived .side-bar {
  opacity:1;
  visibility:visible;
}

.side-bar .menu-box-1 > ul > li {
    padding: 10px;
}

.side-bar .menu-box-1 > ul > li > a {
  position: relative;
  margin-top: 120px;
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

/* side bar hover */
.menu-box-1 > ul > li > a:before, .menu-box-1 > ul > li > a:after {
  position: absolute;
  top: 33px;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 4px solid #0277bd;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.menu-box-1 > ul > li > a:after {
  border-width: 2px;
  transition: all 0.4s;
}

.menu-box-1 > ul > li > a:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.menu-box-1 > ul > li > a:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* page 2 */
.left-box {
  position: relative;
  width: 70%;
  height: 969px;
  float: left;
  margin-top: 80px;
  margin-left: 80px;
  margin-bottom: 80px;
}

.myimg {
  position: absolute;
  height: 200px;
  width: 200px;
  margin-left: 100px;
  background: url(http://www.hongsi.x-y.net/2020_P3/pjm_p/aboutme/img/candidate.png);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-box .text-box {
  position: relative;
  height: 500px;
  width: 500px;
  margin-top: 250px;
  border: 1px solid red;
}

.left-box .text-box h1 {
  font-size: 45px;
  color: #000;
  line-height: 60px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: -.5px;
}

.left-box .text-box h6 {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  color: #001fff;
  margin-bottom: 33px;
}

.left-box .text-box p {
  color: #000;
}

.left-box .client-box {
  position: relative;
  width: 500px;
  height: 150px;
  top: -350px;
  left: 550px;
  border: 1px solid blue;
}

.skills {
  position: absolute;
  right: 235px;
  top: 756px;
  width: 293px;
  font-family: 'Noto Sans KR';
  font-size: 12pt;
  color: #000;
}

.skills>li {
  margin: 18px 0;
}

.bar {
  background: #e5e5e5;
  margin: 12px 0;
  display: block;
  height: 5px;
  /* border: 1px solid rgba(0,0,0,0.3); */
  /* border-radius: 3px; */
  /* overflow: hidden; */
  /* box-shadow: 0 0 10px #2187e7b3; */
}

.bar span {
  height: 5px;
  float: left;
  background: /*#d60055/*/ /* #0000c2*//* linear-gradient(90deg,#3c6382,#82ccdd);*/ linear-gradient(90deg,#ff026d,#ff6f61,#ff6f61);
}
.html {
  width: 90%;
  animation: html 2.8s;
}

}
.bar span {
  height: 5px;
  float: left;
  background: /*#d60055/*/ /* #0000c2*//* linear-gradient(90deg,#3c6382,#82ccdd);*/ linear-gradient(90deg,#ff026d,#ff6f61,#ff6f61);
}
.css {
  width: 98%;
  animation: css 3s;
}

.bar span {
  height: 5px;
  float: left;
  background: /*#d60055/*/ /* #0000c2*//* linear-gradient(90deg,#3c6382,#82ccdd);*/ linear-gradient(90deg,#ff026d,#ff6f61,#ff6f61);
}
.js {
  width: 95%;
  animation: js 2.2s;
}

  /* page 3*/
  .transition-14 {
    position: absolute;
    top: 10%;
    left: 15.5%;
    height: 40px;
    width: 202px;
    z-index: 9999;
    background: url(https://nohyoochan.github.io/img1/pf/PF/4page2.png) no-repeat 0 0;
    transition: all 0.5s;
    filter: drop-shadow(2px 2px 1px #fff);
  }

  .transition-15 {
    position: absolute;
    top: 90%;
    left: 42%;
    height: 61px;
    width: 307px;
    z-index: 9999;
    background: url(https://nohyoochan.github.io/img1/pf/PF/4page3.png) no-repeat 0 0;
    transition: all 0.5s;
    cursor: pointer;
    filter: drop-shadow(2px 2px 1px #fff);
  }

  .main .skill-box {
      width: 1408px;
      height: 617px;
      position: absolute;
      top: 200px;
      left: 300px;
  }
  
  .main .skill-box .inner {
      margin: 0;
      padding: 0;
  }

  .main .skill-box .inner .skill-bg-line {
      width: 1px;
      height: 617px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
  }

  .main .skill-box .inner .bg-line-1 {
    width: 1px;
    height: 617px;
    background: rgba(229,229,229,.25);
    position: absolute;
    left: 466px;
  }

  .main .skill-box .inner .bg-line-2 {
    width: 1px;
    height: 617px;
    background: rgba(229,229,229,.25);
    position: absolute;
    left: 932px;
  }

  .main .skill-box .inner .skill-area {
    background: url(https://nohyoochan.github.io/img1/pf/PF/skill-img.png) no-repeat center;
    width: 1400px;
    height: 617px;
    position: relative;
  }

  .main .skill-box .inner .skill-area ul {
      width: 1400px;
      height: 617px;
  }

  .main .skill-box .inner .skill-area ul li {
    position: relative;
    float: right;  
    width: 466px;
    height: 617px;
  }

  .main .skill-box .inner .skill-area ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(17,17,17,0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  .main .skill-box .inner .skill-area ul li:hover::before {
      visibility: visible;
      opacity: 1;
  }

  .main .skill-box .inner .skill-area ul li .li-inner {
      position: absolute;
      text-align: center;
      top: 350px;
      bottom: 70px;
      height: 150px;
      overflow: hidden;
      transition: all 0.5s;

  }

  .main .skill-box .inner .skill-area ul li+li:hover .li-inner {
      height: 200px;
  }
  
.main .skill-box .inner .skill-area ul li .li-inner .sub-text {
    font-size: 48px;
    font-weight: 400;
}

.main .skill-box .inner .skill-area ul li .li-inner .title-text {
    font-size: 18px;
    font-weight: 800;
}

.main .skill-box .inner .skill-area ul li .li-inner .etc {
    font-size: 16px;
    font-weight: 100;
    line-height: 26px;
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.main .skill-box .inner .skill-area ul li:hover .li-inner .etc {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}