/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 3px solid red;
}

.row {
    max-width: 1245px;
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 공통 CSS */

@media (max-width:799px) {
    .visible-md-up {
        display: none;
    }
}

@media (min-width:800px) {
    .visible-sm-down {
        display: none;
    }
}

.btn-toggle-mobile-side-bar {
    width: 30px;
    height: 30px;
    position: relative;
}

.btn-toggle-mobile-side-bar > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    transition: top .15s .15s, transform .15s, opacity .15s .15s;
}

.btn-toggle-mobile-side-bar > div:nth-child(2) {
    top: 40%;
}

.btn-toggle-mobile-side-bar > div:nth-child(3) {
    top: 80%;
}

.btn-toggle-mobile-side-bar.active > div {
    top: 40%;
    transition: top .15s, transform .15s .15s, opacity .15s 0s;
}

.btn-toggle-mobile-side-bar.active > div:nth-child(1) {
    transform: rotate(45deg);
}

.btn-toggle-mobile-side-bar.active > div:nth-child(3) {
    transform: rotate(-45deg);
}

.btn-toggle-mobile-side-bar.active > div:nth-child(2) {
    opacity: 0;
}

/* 커스텀 */
@media (max-width:799px) {
    body {
        padding-top:50px;
    }
}

.con {
    max-width: 800px;
}

body {
    color: #444;
    line-height: 1;
    background-color: #ffffff;
}

html, body {
    width: 100%;
    height: 100%;
}

/* 모바일 탑바 시작 */
.mobile-top-bar {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    background-color: #efefef;
    z-index: 2;
}

.mobile-top-bar .btn-toggle-mobile-side-bar {
    margin:0 10px;
}

/* 모바일 탑바 끝 */

/* 모바일 사이드 바 시작 */
.mobile-side-bar {
    position: fixed;
    top:100px;
    right:-375px;
    width:100%;
    bottom:0;
    background-color:#15263a;
    transition: right.3s;
    z-index: 10;
}

.mobile-side-bar.active {
    right:0;
}

.mobile-side-bar > .mobile-side-box > ul {
    padding: 16px 0 0 0;
}

.mobile-side-bar > .mobile-side-box > ul > li {
    position: relative;
    display: block;
}

.mobile-side-bar > .mobile-side-box ul > li > a {
    display:block;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 0 16px 20px;
}

.mobile-side-bar .mobile-side-box ul > li > a:not(:only-child)::after {
    padding: 0 10px 0 0;
    content:"[v]";
    float:right;
}

.mobile-side-bar .mobile-side-box ul > li.active > a:not(:only-child)::after {
    content:"[^]";
}

.mobile-side-bar .mobile-side-box ul > li.active > a:not(:only-child) {
    background-color:greenyellow;
    color:black;
}

.mobile-side-bar-bg {
    position: fixed;
    top:100px;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0);
    visibility: hidden;
    transition: background-color 0.3s;
    z-index: 3;
}

.mobile-side-bar-bg.active {
    visibility: visible;
    background-color:rgba(0,0,0,.7);
}

.mobile-side-bar .mobile-side-box > ul ul {
    display: none;
    padding-left: 20px; 
    background-color: #15263a;
}
.mobile-side-bar > .mobile-side-box > ul > li > ul {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    overflow: hidden;
}

.mobile-side-bar > .mobile-side-box > ul > li > ul li {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.mobile-side-bar > .mobile-side-box > ul > li > ul > li > a {
    font-size: 16px;
    padding: 8px 0 12px 34px;
    font-weight: 600;
    letter-spacing: -1px;
    box-sizing: border-box;
}

.mobile-side-bar > .mobile-side-box > ul > li > a > span {
    right: 33px;
    top: 26px;
    background-size: 10px 6px;
}

.mobile-side-bar .mobile-side-box ul > li.active > ul {
    display: block;
}

.mobile-side-bar .mobile-side-box > ul > li.active > a {
    display: block;
}

@media (max-width:799px) {
    html.mobile-side-bar-actived {
        overflow-y: hidden;
    }
}

/* 모바일 사이드 바 끝 */

/* 헤더 바 */
#header {
    position: fixed;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    z-index: 100;
}

.area {
    width: 1400px;
    margin: 0 auto;
}

#header h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font: 20px 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.f_r {
    float: right;
}

#gnb ul {
    margin-right: 20px;
    transition:all .3s ease 
}

#gnb li > a:hover {
    color:red; transition:all .3s ease;
}
#gnb li > a {
    position:relative
}
#gnb li > a::after {
    content: '';
    width: 0%;
    left: 50%;
    display: block;
    position: absolute;
    border-bottom: 2px solid red;
    transition:all .3s ease;
  }
 #gnb li:hover > a::after {
    content: '';
    width: 100%;
    left: 0px;
    display: block;
    position: absolute;
    border-bottom: 2px solid red;
    transition:all .3s ease;
  }

#gnb ul li {
    float: left;
    margin-right: 50px;
}

#gnb ul li a {
    display: block;
    height: 30px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
/* 헤더 바 끝 */

/* 슬라이더 바 */
html, body {
    height: 100%;
}
.sbs-slider {
    margin-top: 100px;
    height:75%;
    position:relative;
    user-select:none;
}

.sbs-slider .side-bars > div {
    position:absolute;
    display: block;
    top:0;
    left:0;
    width:calc(50% - 100px);
    height:489px;
    width: 100%;
    cursor:pointer;
}

.sbs-slider .side-bars > div:last-child {
    left:auto;
    right:0;
}

.sbs-slider .side-bars > div > span {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:inherit;
    right:inherit;
    font-size:5rem;
    transition: transform 0.2s;
    margin:0 10px;
}

.sbs-slider .side-bars > div:active > span {
    transform:translateY(-40%);
}

.sbs-slider > .slides > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:opacity 0.5s;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.sbs-slider > .slides > div.active {
    opacity:1;
}

/* 슬라이더 바 끝 */

/* about */
.about {
    margin-left: 100px;
    padding: 150px 0px;
    box-sizing: border-box;
    height: 100vh;
}

.sub_title_border {
    width: 350px;
    height: 30px;
    border-bottom: 2px solid #444;
}

.mini_profile {
    margin-left: 255px;
    margin-top: 120px;
    width: 760px;
    height: 570px;
    float: left;
}

.mini_profile .pro {
    margin-bottom: 40px;
    overflow: hidden;
}

.pro .hh {
    display: block;
    width: 150px;
    height: 30px;
    float: left;
}

.hh>p:first-child {
    font: 18px;
    font-weight: 500;
}

.line {
    background-color: yellow;
    width: 140px;
    height: 12px;
    position: relative;
}

.line>span {
    position: absolute;
    top: -11px;
    left: 10px;
    color: #444;
    font-weight: bold;
}

.pro .bb {
    font: 16px;
    font-weight: 400;
    display: block;
    float: left;
}

.bb02 {
    margin-bottom: 10px;
}

.bb02 span:first-child {
    margin-right: 30px;
    font: 16px;
    font-weight: 500;
}

.bb02 span {
    display: inline-block;
}

.mini_pr {
    width: 270px;
    height: 300px;
    float: left;
    margin-top: 130px;
    margin-left: 50px;
}

.mini_pr > img {
    width: 150px;
    height: 150px;
}
.mini_pr>p {
    width: 200px;
    text-align: center;
    font: 27px;
    font-weight: 500;
    margin-top: 20px;
}

.line05 {
    background-color: yellow;
    width: 140px;
    height: 12px;
    position: relative;
}

.line05>span {
    position: absolute;
    top: -10px;
    left: 10px;
    color: #444;
}

/* 게시판 */
.list {
    margin-left: auto;
    margin-right: auto;
    padding: 150px 0px;
    box-sizing: border-box;
    height: 100vh;
}

.list-bt {
    text-align: right;
    margin-top: 20px;
}

.list-tt {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #444;
}

.list-time {
    max-width: 1245px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.list-body {
    height: 800px;
    background-color: #999;
}
.dt {
    margin-left: 100px;
    padding: 150px 0px;
    box-sizing: border-box;
    height: 100vh;
}

/* 게시글 */
.bord {
    position: relative;
}
.bord h2 {
    margin: 20px;
    font-size: 24px;
    color: #333333;
    line-height: 26px;
    letter-spacing: -3px;
}
.bord .bord-list ul li.bord-list-item-1, .bord .bord-list ul li.bord-list-item-2, .bord .bord-list ul li.bord-list-item-3, .bord .bord-list ul li.bord-list-item-4 {
    margin-bottom: 20px;
}
.bord .bord-list ul li {
    float: left;
    width: 205px;
    height: 216px;
    margin: 0 0 0 20px;
}
.bord .bord-list ul li .bord-item-inner {
    width: 203px;
    height: 218px;
    border: 1px solid #ebebeb;
}
.bord .bord-list ul li.photo .link {
    text-decoration: none;
    display: block;
}
.bord .bord-list ul li.photo .link img {
    width: 203px;
    height: 131px;
    vertical-align: top;
}
.bord .bord-list ul li.photo .co {
    padding: 13px 14px 0 14px;
    display: block;
}
.bord .bord-list ul li.photo .title-link {
    margin: 0 0 1px 0;
    height: 22px;
    font-size: 14px;
    color: #636363;
    line-height: 20px;
    letter-spacing: -1px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.bord .bord-list ul li.photo .program-link {
    height: 20px;
    font-size: 12px;
    color: #2270ac;
    line-height: 20px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.bord .bord-list ul li.text .title-link {
    margin: 0 0 9px 0;
    height: 22px;
    font-size: 16px;
    color: #222222;
    line-height: 22px;
    letter-spacing: -1px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.bord .bord-list ul li.text .text-link {
    margin: 0 0 21px 0;
    max-height: 110px;
    font-size: 12px;
    color: #636363;
    line-height: 22px;
    letter-spacing: -1px;
    text-decoration: none;
    overflow: hidden;
    display: block;
}
/* 게시글 끝 */

/* 카테고리 */
#aside {
    float: left;
    width: 21.296296296296296%;
    margin-top: 100px;
    margin-left: 300px;
    padding: 75px 0 32px;
    height: 100%;
    box-sizing: border-box;
}
.sidebar .category {
    margin-bottom: 36px;
}
.tt_category {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.sidebar .category ul li {
    padding: 0;
    font-size: 0.875em;
    font-weight: 600;
}
.sidebar .category ul li ul {
    padding-top: 8px;
}
.sidebar .category ul li ul li {
    padding: 6px 0 7px;
    font-weight: 400;
    font-size: 1em;
}
.sidebar .category ul li a {
    color: #222222;
    font-weight: bold;
}
.sidebar .category ul li a:hover {
    color: red;
}
/* 카테고리 끝 */

/* 페이징 */
.pagination {
    margin-right:600px;
    margin-bottom: 60px;
    text-align: center;
    z-index: 999;
}
.pagination .prev, .pagination .next {
    width: 22px;
    height: 22px;
    border: 1px solid #eee;
    border-radius: 50%;
    background: url(/resource/img/left.png) no-repeat 0 -50px;
    text-indent: -999em;
}

.pagination a {
    display: inline-block;
    margin: 0 12px;
    font-size: 0.875em;
    line-height: 1.5rem;
    vertical-align: top;
    color: #999;
}
.pagination .selected {
    color: #333;
}
.pagination .next {
    background-position-x: -50px;
}
/* 페이징 끝 */

/* index 배너 */
#banner-content.row {
    padding-top: 170px;
    padding-bottom: 100px;
}

.heading {
    width: 38.2%;
}

.heading-text {
    padding: 0 0 15px 0;
}

#banner h1 {
    margin-top: 150px;
    font-size: 62px;
    line-height: 60px;
    font-weight: 800;
    color: #111;
}

#banner h2 {
    font-size: 18px;
    font-weight: 300;
    color: #111;
    font-weight: bold;
}

#banner {
    height: 1000px;
    background: url(https://demos.onepagelove.com/html/namari/images/banner-images/banner-image-1.jpg) no-repeat center top;
    background-size: cover;
}

.scroll {
    margin: 100px 0 0 70px;
    padding: 11px 16px;
    transition: all .3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
}

/* index 배너 끝 */

/* index about */
.main-about .gle {
    margin-top: 10px;
}

.about-text {
    text-align: center;
    margin-bottom: 20px;
}
.main-skill {
    justify-content: space-between;
}

.main-about .about-text > h3 , .gle {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    letter-spacing: 2px;
    padding-bottom: 0;
}

.main-about .about-text > h1 {
    padding: 10px;
    font-size: 34px;
    font-weight: 700;
    color: #111;
}

.main-skill > h4 {
    font-weight: bold;
}

.praph {
    margin:0 0 30px;
    height:40px;
    background:gray;
    border-radius:40px;
  }
  .graph.stack1 span {
    background:violet;
    animation:stack 2s 1;
  } 
  .graph span {
    display:block;
    width:75%;
    height:40%;
    line-height:40px;
    text-align:right;
    background:black;
    border-radius:40px;
    box-sizing:border-box;
    color:#fff;
    animation:stack 2s 1;
  }
  @keyframes stack {
    0% { width:0; color : rgba(255,255,255,0);}
    50% {
      color : rgba(255,255,255,1);
    }
    100% { width:75%;}
  }
/* index about 끝 */

/* index portfolio */
.main-portf {
    text-align: center;
}

.main-portf a {
    float: left;
    position: relative;
    overflow: hidden;
    width: 33.33%;
}

/* index portfolio 끝 */

/* ariticle */
.main-name {
    margin-top: 100px;
}

.main-name > span {
    font-weight: bold;
}