html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
  }
  
  /* 노말라이즈 */
  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
    
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }
  
  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  * > .flex-row-wrap {
    flex-flow:row wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }
  
  /* 커스텀 */
  
  /* 고정형 .con 시작 */
  .con-min-width {
    min-width:1440px;
  }
  
  .con {
    width:1200px;
    margin-left:auto;
    margin-right:auto;
  } 

body {
     overflow-x: hidden;
}

img {
  filter: drop-shadow(3px 3px 3px #000)
}

/* top-bar */
.top-bar {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #415143;
    text-align: center;
    z-index: 10;
}

.top-bar > .menu-box > .logo > img {
    padding: 15px;
}

.top-bar > .menu-box > .logo > img:last-child {
    padding: 15px;
    margin: 0 auto;
}

.top-bar > .menu-box > .logo > img:last-child {
    display: none;
}

.top-bar > .menu-box:hover > .logo > img:last-child {
    display: block;
}

.top-bar > .menu-box:hover > .logo > img:first-child {
    display: none;
}

/* menu */
.top-bar > .menu-box {
  position: relative;
}

.top-bar > .menu-box > ul {
  display: none;
}

.top-bar > .menu-box:hover {
  background: #fff;
  height: 170px;
  transition: .3s;
  background-color:rgba(255,255,255,1);
}

.top-bar > .menu-box:hover > ul {
  display: block;
}

.top-bar > .menu-box:hover > ul > .inner {
  position: absolute;
  width: 1200px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.top-bar > .menu-box:hover > ul > .inner > li {
  padding: 5px 0;
  margin: 0 30px;
}

.top-bar > .menu-box:hover > ul > .inner > li > a {
  font-weight: bold;
  font-size: 22px;
  text-shadow: 4px 4px 4px #415143;
}

.top-bar > .menu-box:hover > ul > .inner > li:hover > a {
background: #415143;
color: #fff;
}

.top-bar > .menu-box > ul > .inner > li > div {
position: absolute;
left: 0;
width: 100%;
color: black;
z-index: 1;
display: none;
background-color: white;
}

.top-bar > .menu-box > ul > .inner > li > a:not(:only-child)::after {
content:"";
background-color:rgba(0,0,0,0.3);
position:fixed;
bottom:0;
left:0;
right:0;
top:100px;
display:none;
}

.top-bar > .menu-box > ul > .inner > li:hover > a:not(:only-child)::after {
display:block;
}

.top-bar .menu-box::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,0);
  z-index:-1;
  transition:.3s;
}

.top-bar .menu-box:hover::after {
  background-color:rgba(255,255,255,1);
}
/* search */

/* mainpage */
.main #video {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

.main #polina{
  position: relative;
  height: 110vh;
  width: 100%;
  font-weight:100;
  text-align: center;
  font-size:1.2rem;
}

.main #polina .text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size:30px;
  text-transform:uppercase;
  letter-spacing:.3rem
}

.main #polina .text-box > p {
  font-size: 20px;
  font-weight: normal;
}

/* page2 collection */
.rc {
  text-align: center;
}

.rc h2 {
  color: black;
  margin-top: 100px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 6px 4px 4px gray;
}

/* page2 slider */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.swiper-slide .inner {
  display: flex;
  flex-direction: column;
}

.swiper-container .swiper-slide .img > a > img {
  position: relative;
  display: block;
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.name {
  pointer-events: none;
  color: rgb(33, 33, 33);
  white-space: normal;
  letter-spacing: .2px;
  margin-top: 10px;
}

.name .strong {
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.name .sp-text1 {
  display: block;
  font-size: 15px;
}

.name .sp-text2 {
  display: block;
  font-size: 15px;
}

.swiper-scrollbar {
  position: relative;
  user-select: none;
  height: 20px;
  width: calc(100% - 10vw);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow-y: visible;
  transform: translateY(-6px);
  margin: 40px auto 0px;
}

/* page3 set-clock */
.set-clock {
  text-align:center;
  margin-top: 100px;
}

.set-clock h2 {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-shadow: 6px 4px 4px gray;
}

.box-list-1 > div > .box {
  height:100%;
  box-sizing:border-box;
  margin-top:20px;
}

/* 탭 타입 1 */
.tab-type-1 > .head > ul > li > a {
  display:flex;
  align-items:center;
  justify-content:center;
  height:50px;
  cursor:pointer;
  border-right-width:0;
  color: black;
}

.tab-type-1 > .head > ul > li:last-child > a {
  border-right-width:1px;
}

.tab-type-1 > .head > ul > li.active > a {
  color: #fff;
  border-color:#415143;
  background-color:#415143;
  border-bottom-color:transparent;
}

.tab-type-1 > .head > ul > li.active + li > a {
  border-left-color:#005bac;
}

.tab-type-1 > .body > ul > li {
  display:none;
}

.tab-type-1 > .body > ul > li.active {
  display:flex;
}

.tab-type-1 > .body > ul > li > .inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-type-1 > .body > ul > li > .inner > div {
  margin-top: 30px;
}

.tab-type-1 > .body > ul > li > .inner > div > .inner2 {
  width: calc(25%);
  padding: 20px;
}

.tab-type-1 > .body > ul > li > .inner > div > .inner3 {
  width: calc(25%);
  padding: 20px;
}

.tab-type-1 > .body > ul > li > .inner {
  text-align: center;
}

/* page4 choose-clock */
.choose-clock {
  text-align:center;
  margin-top: 100px;
}

.choose-clock h2 {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-shadow: 6px 4px 4px gray;
}

.box-list-2 > div > .box {
  height:100%;
  box-sizing:border-box;
  margin-top:20px;
}

/* 탭 타입 1 */
.tab-type-2 > .head > ul > li > a {
  display:flex;
  align-items:center;
  justify-content:center;
  height:50px;
  cursor:pointer;
  border-right-width:0;
  color: black;
}

.tab-type-2 > .head > ul > li:last-child > a {
  border-right-width:1px;
}

.tab-type-2 > .head > ul > li.active > a {
  color: #fff;
  border-color:#415143;
  background-color:#415143;
  border-bottom-color:transparent;
}

.tab-type-2 > .head > ul > li.active + li > a {
  border-left-color:#005bac;
}

.tab-type-2 > .body > ul > li {
  display:none;
}

.tab-type-2 > .body > ul > li.active {
  display:flex;
}

.tab-type-2 > .body > ul > li > .inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-type-2 > .body > ul > li > .inner > div {
  margin-top: 30px;
}

.tab-type-2 > .body > ul > li > .inner > div > .inner2 {
  width: calc(25%);
  padding: 10px;
}

.tab-type-2 > .body > ul > li > .inner > div > .inner3 {
  width: calc(25%);
  padding: 10px;
}

.tab-type-2 > .body > ul > li > .inner {
  text-align: center;
}

strong, span {
  cursor: pointer;
}

/* page5 */
.page5 {
  width:1200px;
  position:relative;
  margin:0 auto;
  padding:0 auto;
}

.page5 h2 {
  margin-top: 100px;
  text-align:center;
  padding:5px;
  color:black;
  font-weight:bold;
  font-size:30px;
  text-shadow:4px 4px 2px gray;
}

.page5 .main-bar {
  position:relative;
  text-align:center;
}

.page5 .main-bar .img-box {
  margin: 0 auto;
}

.page5 .main-bar .text-box-1 {
  width:1000px;
  margin:40px auto;
  color:black;

}

.page5 .main-bar .text-box-1 > a {
  font-weight:bold;
  font-size:20px;
}

.page5 .main-bar .text-box-1 > p {
  font-weight:bold;
  font-size:15px;
}

.page5 .main-bar .text-box-1 > pre {
  text-align:left;
  font-size:12px;
  line-height:6px;
  letter-spacing:-.5px;
}

.page5 .main-bar .text-box-2 {
  float: left;
  text-align: center;
  margin-left: 150px;
  margin-top: 40px;
  color: black;
}

.page5 .main-bar .text-box-2 > a {
  font-size: 25px;
  font-weight: bold;
}

.page5 .main-bar .text-box-2-2 {
  display: inline-block;
  margin: 40px auto;
  color: black;
  text-align: center;
}

.page5 .main-bar .text-box-2-2 > p {
  font-size: 20px;
  font-weight: bold;
}

.page5 .main-bar .text-box-2-2 > pre {
  letter-spacing: -.5px;
}

.page5 .main-bar .text-box-3 {
  margin: 40px auto;
  color: black;
  text-align: center;
}

.page5 .main-bar .text-box-3 > a {
  font-size: 25px;
  font-weight: bold;
}

/* page6 map */
#map {
  height: 400px;
  width: 100%;
}

.map-text {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}
/* footer */

.footer {
  position:relative;
  background: #415143;
  color:#fff;
  border-top:2px solid #fff;
}

.footer .footer-bar {
  display: flex;
  width: 80%;
  max-width: 1140px;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
  padding: 0px 0px 60px;
}

.footer .footer-bar .firtst {
  width: 33%;
  margin-right: 20px;
}

.footer .footer-bar .second {
  width: 33%;
  margin-right: 20px;
}

.footer .footer-bar .three {
  width: 33%;
  margin-right: 20px;
}

.footer .footer-bar .rolex-collection > ul > li  {
  display:table;
  font-size:15px;
  padding:10px;
  line-height:1px;
  margin-top:10px;
}

.footer .footer-bar .rolex-world > ul > li  {
  display:table;
  font-size:15px;
  padding:10px;
  line-height:1px;
  margin-top:10px;
}

.footer .footer-bar .service > ul > li  {
  display:table;
  font-size:15px;
  padding:10px;
  line-height:1px;
  margin-top:10px;
}

.footer .footer-bar .collection > ul > li  {
  display:table;
  font-size:15px;
  padding:10px;
  line-height:1px;
  margin-top:10px;
}

.footer .footer-bar .channel > ul > li  {
  display:table;
  font-size:15px;
  padding:10px;
  line-height:1px;
  margin-top:10px;
}

.footer .footer-bar .gozi > ul > li  {
  display:table;
  font-size:15px;
  padding:10px;
  line-height:1px;
  margin-top:10px;
}

.footer .footer-bar .media > ul > li  {
  display:table;
  font-size:15px;
  padding:10px;
  line-height:1px;
  margin-top:10px;
}

.footer .footer-bar .oo {
  display:inline-block;
  font-size:20px;
  font-weight:bold;
  text-shadow:6px 4px 2px gray;
  padding:10px;
  border-bottom:1px solid #fff;
}


/* 호버 색깔 */
.footer .footer-bar .rolex-collection  > ul > li > a {
  transition: color 0.7s ease 0s;
  text-decoration: none;
}

.footer .footer-bar .rolex-collection > ul > li:hover > a {
  color: rgb(164, 126, 45);
}

.footer .footer-bar .rolex-world  > ul > li > a {
  transition: color 0.7s ease 0s;
  text-decoration: none;
}

.footer .footer-bar .rolex-world > ul > li:hover > a {
  color: rgb(164, 126, 45);
}

.footer .footer-bar .service  > ul > li > a {
  transition: color 0.7s ease 0s;
  text-decoration: none;
}

.footer .footer-bar .service > ul > li:hover > a {
  color: rgb(164, 126, 45);
}

.footer .footer-bar .collection  > ul > li > a {
  transition: color 0.7s ease 0s;
  text-decoration: none;
}

.footer .footer-bar .collection > ul > li:hover > a {
  color: rgb(164, 126, 45);
}

.footer .footer-bar .gozi  > ul > li > a {
  transition: color 0.7s ease 0s;
  text-decoration: none;
}

.footer .footer-bar .gozi > ul > li:hover > a {
  color: rgb(164, 126, 45);
}

.footer .footer-bar .media > ul > li > a {
  transition: color 0.7s ease 0s;
  text-decoration: none;
}

.footer .footer-bar .media > ul > li:hover > a {
  color: rgb(164, 126, 45);
}

/* 아이콘 */
.footer .footer-bar .channel > ul > li > .facebook-bar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.footer .footer-bar .channel > ul > li > .facebook-bar > .face {
  display: inline-flex;
}

.footer .footer-bar .channel > ul > li > .facebook-bar > .face > .footer-icon {
  fill: rgb(212, 212, 212);
  margin-right: 10px;
  transition: fill 0.7s ease 0s;
}

.footer .footer-bar .channel > ul > li > .insta-bar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.footer .footer-bar .channel > ul > li > .insta-bar > .sta {
  display: inline-flex;
}

.footer .footer-bar .channel > ul > li > .insta-bar > .sta > .footer-icon {
  fill: rgb(212, 212, 212);
  margin-right: 10px;
  transition: fill 0.7s ease 0s;
}

.footer .footer-bar .channel > ul > li > .twitter-bar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.footer .footer-bar .channel > ul > li > .twitter-bar > .twi {
  display: inline-flex;
}

.footer .footer-bar .channel > ul > li > .twitter-bar > .twi > .footer-icon {
  fill: rgb(212, 212, 212);
  margin-right: 10px;
  transition: fill 0.7s ease 0s;
}

.footer .footer-bar .channel > ul > li > .youtube-bar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.footer .footer-bar .channel > ul > li > .youtube-bar > .you {
  display: inline-flex;
}

.footer .footer-bar .channel > ul > li > .youtube-bar > .you > .footer-icon {
  fill: rgb(212, 212, 212);
  margin-right: 10px;
  transition: fill 0.7s ease 0s;
}

.footer .footer-bar .channel > ul > li > .pinter-bar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.footer .footer-bar .channel > ul > li > .pinter-bar > .pin {
  display: inline-flex;
}

.footer .footer-bar .channel > ul > li > .pinter-bar > .pin > .footer-icon {
  fill: rgb(212, 212, 212);
  margin-right: 10px;
  transition: fill 0.7s ease 0s;
}