@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.center_sc {
    text-align: center;
    margin-bottom: 40px;
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 3px solid red;
}

.row {
    max-width: 1245px;
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 공통 CSS */

@media (max-width:799px) {
    .visible-md-up {
        display: none;
    }
}

@media (min-width:800px) {
    .visible-sm-down {
        display: none;
    }
}

.pagesite {
    overflow: hidden;
}

/* 탑 바 */
.banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
}
/* fixed 메뉴 
.site.fixed .bottom_headbx {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateZ(0);
}
*/
.banner .top-bar {
    padding: 33px 0 31px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    height: 100px;
}

.banner .top-bar::after {
    content: "";
    display: table;
    clear: both;
}

.banner .top-bar .logo-bar {
    max-width: 1180px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
}

.banner .top-bar .logo-bar .logo {
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.banner .top-bar .logo-bar .logo > a {
    display: inline-block;
    text-decoration: none;
}

.banner .top-bar .logo-bar .logo > a > img {
    max-width: 100%; 
}

/* 메뉴 바 */
.bottom_headbx {
    border-bottom: solid 1px #dddddd;
    position: relative;
    background: #fff;
    height: 57px;
}

.max_container {
    max-width: 1180px;
    height: 56px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
}

.main-navigation {
    height: 56px;
    margin-right: 57px;
}

.main-navigation .main-menu {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.main-navigation .main-menu > li {
    display: table-cell;
    vertical-align: top;
}

.main-navigation .main-menu > li > a.mo_nav_btn {
    display: none !important;
    width: 60px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    text-indent: -99999px;
    padding: 0;
    margin: 0;
}

.main-navigation .main-menu > li > a {
    font-size: 16px;
    color: #333333;
    line-height: 55px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    width: 256px;
    height: 56px;
    position: relative;
}

.main-navigation .main-menu > li .sub-menu {
    position: relative;
    left: 0;
    right: 0;
    transition: all ease-out 0.1s;
    -webkit-transition: all ease-out 0.1s;
    -moz-transition: all ease-out 0.1s;
    -ms-transition: all ease-out 0.1s;
    opacity: 0;
    visibility: hidden;
    height: 0;
    min-height: 0;
    display: block !important;
}

.main-navigation .main-menu > li:first-child .sub-menu:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 4000px;
    margin-left: -2000px;
    bottom: 0;
    background: #f1f2f4;
    z-index: 30;
}

.main-navigation .main-menu > li .sub-menu > li:first-child {
    padding-top: 28px;
}

.main-navigation .main-menu > li .sub-menu > li {
    position: relative;
    z-index: 31;
}

.main-navigation .main-menu > li .sub-menu > li > a {
    font-size: 14px;
    color: #a6a6a6;
    line-height: 1.4em;
    font-weight: normal;
    padding: 5px 20px;
    display: block;
}

.main-navigation .main-menu > li .sub-menu > li:last-child {
    padding-bottom: 35px;
}

.main-navigation .main-menu > li .sub-menu:after {
    content: "";
    width: 1px;
    position: absolute;
    top: 18px;
    bottom: 18px;
    left: 0;
    background: #dddddd;
}

.main-navigation .main-menu > li {
    display: table-cell;
    vertical-align: top;
}

.main-navigation .main-menu > li:hover .sub-menu > li > a {
    color: #333333;
}

.main-navigation .main-menu > li .sub-menu > li > a:hover {
    font-weight: bold;
}

.main-navigation:hover .main-menu > li .sub-menu {
    opacity: 1;
    visibility: visible;
    min-height: 450px;
}

.main-navigation .main-menu > li:hover > a:after {
    opacity: 1;
    visibility: visible;
}

.main-navigation .main-menu > li > a:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #1f3263;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}
/* search */
.header_searchbx {
    position: absolute;
    top: 9px;
    right: 40px;
    z-index: 10;
    height: 40px;
    padding-right: 40px;
}

.header_searchbx .head_search_btn {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
    background: url(https://nohyoochan.github.io/img1/pf/nc/icon_item.png) #fff no-repeat;
    background-size: 250px 250px !important;
    background-position: 9px -25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.header_searchbx .head_search_inputbx {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-out 0.1s;
    -webkit-transition: all ease-out 0.1s;
    -moz-transition: all ease-out 0.1s;
    -ms-transition: all ease-out 0.1s;
}

.header_searchbx .textbx {
    width: 0%;
    transition: all ease-out 0.1s;
    -webkit-transition: all ease-out 0.1s;
    -moz-transition: all ease-out 0.1s;
    -ms-transition: all ease-out 0.1s;
    overflow: hidden;
    float: right;
}

.header_searchbx .textbx .head_search_text {
    display: block;
    border: solid 1px #dddddd;
    border-right: none !important;
    background: #fff;
    padding: 0 20px;
    font-size: 14px;
    line-height: 38px;
    color: #333;
    font-weight: 500;
    width: 220px;
    height: 40px;
}

.header_searchbx .head_search_submit {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
    background: url(https://nohyoochan.github.io/img1/pf/nc/icon_item.png) #fff no-repeat;
    background-size: 250px 250px !important;
    background-position: 9px -26px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px #dddddd;
    border-left: none;
}

/* content banner */
.site-content {
    width: 1903px;
}

.home-banner {
    width: 1903px;
    height:785.172px;
    position: relative;
    overflow: hidden;
}

.home-banner::before {
    content: "";
    position:absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 3px;
    background: #fff;
    z-index: 30; 
}

.home-banner .banner-item {
    width: 100%;
    position: absolute;
}

.banner-item .itembx {
    display: block;
    overflow: hidden;
    position: relative;
    margin: -1px -1px;
}

.banner-item .itembx:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: rgba(31,50,99,0.7);
    opacity: 0;
    visibility: hidden;
}

.banner-item .itembx:hover:before {
    opacity: 1;
    visibility: visible;
}

.banner-item .itembx .bg {
    line-height: 0;
}

.banner-item .itembx .bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.banner-item .itembx .bg > img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}

.banner-item .itembx .bg::after {
    content: "";
    display: block;
    padding-bottom: 41.28%;
}

.banner-item .itembx .cont {
    text-align: center;
    bottom: 55px;
    z-index: 30;
    position: absolute;
}

.banner-item:nth-child(1) .itembx .cont {
    left: 50px;
    right: 50px;
}

.banner-item .itembx .cont > .sub-title {
    font-size: 24px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.banner-item .itembx .cont > .title {
    font-size: 46px;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
}

/* 검색바 */
.main-robx {
    margin-top: 70px;
}

.max-container {
    max-width: 1180px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
}

.main-search {
    max-width: 730px;
    margin: 0 auto;
}

.main-search-item {
    border-bottom: solid 3px #1f3263;
    padding-right: 40px;
    position: relative;
}


.main-search-item .main-search-text {
    font-size: 16px;
    color: #1f3263;
    display: block;
    padding: 0px 10px;
    line-height: 40px;
    width: 100%;
    font-weight: 500;
    height: 40px;
}

input[type="text"], input[type="submit"], button, textarea {
    border: none;
    margin: 0;
    background: none;
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

.main-search-item .main-search-submit {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
    background: url(https://nohyoochan.github.io/img1/pf/nc/icon_item.png) #fff no-repeat;
    background-size: 250px 250px !important;
    background-position: -211px 7px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

/* 해시태그 */
.search-tag {
    width: 730px;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 90px;
    margin: 0 auto;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.search-tag dl dt {
    float: left;
    margin-right: 30px;
    font-size: 14px;
    color: #1f3263;
    line-height: 1.4em;
    font-weight: bold;
    padding-top: 3px;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

.search-tag dl dd {
    overflow: hidden;
}

.bs-tag-bx {
    overflow: hidden;
}

.tag-container {
    overflow: hidden;
    margin: -5px -10px;
    font-size: 0;
    line-height: 0;
}

.tag-item {
    font-size: 14px;
    color: #333333;
    line-height: 1.4em;
    border: solid 1px #dddddd;
    padding: 2px 10px;
    margin: 5px 10px;
    border-radius: 30px;
    display: inline-block;
    background: #fff;
}

.search-tag .tag-container .tag-item:nth-child(3) ~ .tag-item {
    display: inline-block;
}

.search-tag dl:after {
    content: "";
    display: table;
    clear: both;
}

/* 추천 시리즈 */
.ro-title {
    margin-top: 100px;
    font-size: 34px;
    line-height: 1.4em;
    color: #1f3263;
    font-weight: bold;
}

/* 추천 시리즈 리스트 */
.series-lsbx {
    height:324.563px;
    margin-bottom: 20px;
    position: relative;
}

.series-lsbx .bg-ro {
    float: right;
    width: 50%;
    line-height: 0;
    overflow: hidden;
    position: relative;
}

.series-lsbx .bg-ro > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.series-lsbx .bg-ro:after {
    content: "";
    display: block;
    padding-bottom: 52.3%;
}

.series-lsbx .ls-ro {
    float: left;
    width: 48%;
    padding-right: 20px;
}

.series-ps-item {
    width: 260px;
    height: 151.78px;
}

.series-lsbx .ls-ro > ul {
    margin: 7px 7px;
}

.series-lsbx .ls-ro > ul > li {
    float: left;
    padding: -7px -7px;
}

.series-lsbx .ls-ro > ul > li.active .series-ps-item .itembx {
    border: solid 3px #1f3263;
    box-shadow: 0 2px 25px rgba(29,56,115,0.15);
}

.series-ps-item .itembx {
    display: block;
    padding: 20px 20px;
}

.series-ps-item .itembx:hover {
    border: solid 3px #1f3263;
    box-shadow: 0 2px 25px rgba(29,56,115,0.25);
}

.series-lsbx .ls-ro > ul:after {
    content: "";
    display: table;
    clear: both;
}

.series-lsbx:after {
    content: "";
    display: table;
    clear: both;
}

li {
    display: list-item;
}

/* bs-tab */
.bs-tab {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-bottom: solid 1px #dddddd;
}

.bs-tab > ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.bs-tab > ul > li {
    display: table-cell;
    vertical-align: middle;
}

.bs-tab > ul > li.active .bs-tab-item .item {
    color: #1f3263;
    font-weight: bold;
}

.bs-tab-item .item {
    font-size: 16px;
    color: #a6a6a6;
    line-height: 1.4em;
    font-weight: 500;
    text-align: center;
    display: block;
    padding: 0px 10px 12px;
    position: relative;
}

.bs-tab-item .item:hover {
    color: #1f3263;
}

.bs-tab-bx > ul > li.active .bs-tab-item .item:after {
    opacity: 1;
    visibility: visible;
}

.bs-tab-item .item:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #1f3263;
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

/* bs-ps 최신 기사 포스터*/
.bs-ps {
    overflow: hidden;
}

.bs-ps > ul {
    overflow: hidden;
    margin: -20px -15px;
}

.bs-ps > ul > li:nth-child(3n+1) {
    clear: both;
}

.bs-ps > ul > li {
    padding: 20px 15px;
    width: 30%;
    float: left;
}

.bs-ps-item > .itembx {
    display: block;
}

.bs-ps-item .itembx .bg {
    line-height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.bs-ps-item .itembx .bg > img {
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}

.bs-ps-item .itembx .bg .bg2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    transition: all ease-out 0.1s;
    background: rgba(31,50,99,0.7);
    opacity: 0;
    visibility: hidden;
}

.bs-ps-item .itembx:hover .bg .bg2 {
    opacity: 1;
    visibility: visible;
}

.bs-ps-item .itembx .bg:after {
    content: "";
    display: block;
}

.bs-ps-item .itembx .cont {
    position: relative;
    padding-top: 24px;
}

.bs-ps-item .itembx .cont .cate-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.cate-box .cate-item:first-child {
    font-weight: bold;
}

.cate-box .cate-item {
    font-size: 14px;
    color: #1f3263;
    line-height: 1.4em;
    display: block;
    float: left;
    font-weight: normal;
    padding-right: 11px;
    margin-right: 9px;
    position: relative;
    max-width: 45%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cate-box .cate-item:after {
    content: "·";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 300;
}

.cate-box .cate-item:last-child {
    padding-right: 0;
    margin-right: 0;
}

.cate-box:after {
    content: "";
    display: table;
    clear: both;
}

.cont .m-title {
    margin-bottom: 12px;
    height: 2.8em;
    overflow: hidden;
}

.m-title {
    font-size: 24px;
    line-height: 1.4em;
    color: #333333;
    font-weight: bold;
}

.bs-ps-item .itembx:hover .m-title {
    color: #1f3263;
}

.cont .date {
    font-size: 14px;
    color: #a6a6a6;
    line-height: 1.4em;
}

.bs-tag {
    margin-top: 25px;
    overflow: hidden;
}

.bs-tag .tag-container {
    overflow: hidden;
    margin: -3px -5px;
    font-size: 0;
    line-height: 0;
}

.bs-tag .tag-container .tag-item {
    margin: 3px 5px;
}

.tag-item {
    font-size: 14px;
    color: #333333;
    line-height: 1.4em;
    border: solid 1px #dddddd;
    padding: 2px 10px;   
}

.tag-item:hover {
    border: solid 1px #1f3263;
    color: #1f3263;
    font-weight: normal;
}

/* 최신 기사 더보기 */
.ls-more-btnbox {
    margin-top: 80px;
    clear: both;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.ls-more-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #333333;
    line-height: 1.4em;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
}

.ls-more-btn:after {
    content: "";
    width: 10px;
    height: 8px;
    background: url(https://nohyoochan.github.io/img1/pf/nc/icon_item.png) no-repeat;
    background-size: 250px 250px;
    background-position: -203px -100px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-left: -5px;
    transform: translateY(0px);
}

.ls-more-btn:hover:after {
    background-position: -215px -100px;
    transform: translateY(4px);
}

/* familybox */
.familybox {
    background-color: #f1f2f4;
    padding: 70px 0;
    margin-top: 95px;
    clear: both;
    text-align: center;
}

.family-link {
    overflow: hidden;
}

.family-link > ul {
    overflow: hidden;
    margin: -15px -15px; 
}

.family-link > ul > li:nth-child(3n+1) {
    clear: both;
}

.family-link > ul > li {
    padding: 15px 15px;
    float: left;
    widows: 33.3333%;
}

.family-link > ul > li > a {
    display: block;
    line-height: 0;
    position: relative;
}

.family-link > ul > li > a > img {
    width: 100%;
}

.family-link > ul > li > a .bg2{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    transition: all ease-out 0.1s;
    background: rgba(31,50,99,0.7);
    opacity: 0;
    visibility: hidden;
}

.family-link > ul > li a:hover .bg2 {
    opacity: 1;
    visibility: visible;
}

.max-container:after {
    content: "";
    display: table;
    clear: both;
}

/* footer */
.site-footer {
    background: #444444;
}

.site-footer .footer-info {
    padding: 17px 0;
    overflow: hidden;
    background: #555555;
}

.site-footer .footer-info .f-nav {
    float: left;
    padding-top: 5px;
}

.site-footer .footer-info .f-nav > ul {
    margin: 0 -10px;
}

.site-footer .footer-info .f-nav > ul > li {
    float: left;
    padding: 0 10px;
    position: relative;
}

.site-footer .footer-info .f-nav > ul > li > a {
    color: #fff;
    font-size: 14px;
    line-height: 1.4em;
    font-weight: normal;
}

.site-footer .footer-info .f-nav > ul > li > a:hover {
    font-weight: bold;
}

.site-footer .footer-info .f-nav ul:after {
    content: "";
    display: table;
    clear: both;
}

.site-footer .footer-info .f-sns {
    position: relative;
    padding: 0 20px;
    float: right;
}

.site-footer .footer-info .f-sns > ul {
    margin: 0 -7px;
}

.site-footer .footer-info .f-sns > ul > li {
    float: left;
    margin: 0 7px;
}

.site-footer .footer-info .f-sns > ul > li > a {
    display: block;
    width: 34px;
    height: 35px;
    text-indent: -77777px;
    background: url(https://nohyoochan.github.io/img1/pf/nc/sns_icon.png) no-repeat;
    background-size: 314px 95px;
}

.site-footer .footer-info .f-sns > ul > li.home a {
    background-position: 0px 0px;
}

.site-footer .footer-info .f-sns > ul > li.plaync a {
    background-position: -46px 0px;
}

.site-footer .footer-info .f-sns > ul > li.facebook a {
    background-position: -93px 0px;
}

.site-footer .footer-info .f-sns > ul > li.instar a {
    background-position: -140px 0px;
}

.site-footer .footer-info .f-sns > ul > li.youtube a {
    background-position: -187px 0px;
}

.site-footer .footer-info .f-sns > ul > li.navertv a {
    background-position: -233px 0px;
}

.site-footer .footer-info .f-sns > ul > li.naverposter a {
    background-position: -280px 0px;
}

.site-footer .footer-info .f-sns > ul:after {
    content: "";
    display: table;
    clear: both;
}

.max-container:after {
    content: "";
    display: table;
    clear: both;
}

.site-footer .copy {
    padding: 30px 0;
    text-align: center;
    background: #444444;
}

.site-footer .copy p {
    margin-top: 50px;
    color: #777;
    font-size: 13px;
    font-weight: 700;
}

.site-footer .copy .copy-text {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #777777;
    line-height: 1.5em;
    margin-top: 10px;
}